body{
	background-color : silver; 
	
}

h1 {
 color : blue;
 
}

p {
	border: solid red 2px;
	width : 60px;
	font-style : italic;
	
	
}

article {
	border-top :  solid red 2px;
	border-bottom : solid red 2px;
	
	
}

hr {
	
	color : red;
	background-color: red;
	height: 2px;
	
	
}